body{
   background-color:initial
   ;
}
h1 {
  color:darkmagenta;
  font-size: xx-large;
}
   

#AlzbetaP{
   background-color: initial;
   font-family:initial;
   color:initial;
   
}

#AndreaS{
   background-color:initial;
   font-family: initial;
   color:initial;
   
}

#AnezkaR{
   background-color:initial;
   font-family:'Times New Roman', Times, serif;
   color:initial;
   
}

#HanaL{
   background-color:initial;
   font-family:initial;
   color:initial;
   
}

#LuciaG{
   background-color:rgb(67, 162, 250);
   font-family:initial;
   color:initial;
   
}


