body{
   background-color: initial;
}

#AlzbetaP{
   background-color: initial;
   font-family:initial;
   color:initial;
   
}

#AndreaS{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#AnezkaR{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#HanaL{
   background-color:pink;
   font-family:'Courier New', Courier, monospace;
   color:gray;
   
}

#LuciaG{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}