body{
   background-color: initial;
}

#AlzbetaP{
   background-color: palevioletred;
   font-family:initial;
   color:blue; 
   
}

#AndreaS{
   background-color:darkgreen;
   font-family: initial;
   color:aquamarine;
   
}

#AnezkaR{
   background-color:blueviolet;
   font-family:'Times New Roman', Times, serif;
   color:initial;
   
}

#HanaL{
   background-color:pink;
   font-family:'Courier New', Courier, monospace;
   color:gray;
   
}

#LuciaG{
   background-color:violet;
   font-family: arial;
   color:gray;
   
}
