body {
  background-color: #f9f9f9; /* světlé pozadí */
  color: #333333; /* základní text */
  font-family: Arial, sans-serif;
}

h1 {
  color: #076256; /* fialová barva pro hlavní nadpis */
}

h2 {
  color: #18dfc1; /* modrozelená barva pro podnadpisy */
}

p {
  color: #3a3a3a; /* tmavě šedý text v odstavcích */
}

a {
  color: #6f9a93; /* červený odkaz */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #1e91e3; /* jiná barva odkazu při najetí myší */
}

