body{
   background-color: initial;
}

  
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

h1 {
  color:darkblue;
}

h2 {
  color:rgb(67, 162, 250);
}

